html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column
}
main {
    flex: 1;
}
h1 {
    text-align: center;
    color: #007BFF;
}
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    font-size: 16px;
}
select, input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
select {
    font-size: 16px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    text-align: center;
    font-size: 16px;
}
pre {
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    min-height: 50px;
    padding: 10px;
    width: 90%;
    Overflow: scroll;
    border-radius: 5px;
}
 .download{
    width: 10rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.download input {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
    textarea {
        width: 100%;
    }
    select, input[type="submit"], button {
        width: 100%;
    }
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}