<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <h1>ASCII Art Generator</h1>
        <form action="/" method="post">
            <p>Enter text below</p>
            <textarea required name="input" id="input" placeholder="Your text.."rows="10" cols="50" maxlength="150" spellcheck="false" wrap="off"></textarea><br>
            <br>
            <label for="banner">Select Banner:</label>
            <select id="banner" name="banner" required>
                <option value="standard">Standard</option>
                <option value="shadow">Shadow</option>
                <option value="thinkertoy">Thinkertoy</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Generate ASCII Art">
        </form>
        {{if .Error}}
        <p class=error style="color:red">{{.Error}}</p>
        {{end}}
        <div>
            {{if .Art}}
            <pre>{{.Art}}</pre>
            <form class="download" action="/download" method="post">
                <input type="hidden" name="art" value="{{.Art | html}}">
                <input type="submit" value="Download ASCII Art">
            </form>
            {{end}}
        </div>

    </main>
     <footer>
        <p>&copy; 2024. All rights reserved.</p>
        <p>
            <a href="/about">About Us</a>
        </p>
    </footer>
</body>   
</html>
